<div class="requests">
  <div class="requests__top-bar">
    <div class="requests__logout-button-wrapper">
      <img class="requests__logout-button" ngSrc="../../../../assets/power-on-off.svg" height="24" width="24" alt="logout"/>
    </div>
    <div class="requests__title">
      Requests
    </div>
    <div class="requests__copy-link-button-wrapper">
      <div class="requests__copy-link-button">
        copy Link
      </div>
    </div>
  </div>
  <div class="requests__bottom">
    <div class="requests__content">
      <div class="requests__request-box-wrapper"  *ngFor="let request of requestsList">
        <app-request-box [requestdetail]="request">

        </app-request-box>
      </div>

    </div>
    <div class="requests__bottom-right-wrapper">
      <div class="flex-spacer">

      </div>
      <div class="requests__add-button-wrapper">
        <div class="requests__add-button-box">
          <img class="requests__add-button-icon" ngSrc="../../../../assets/plus.svg" height="24" width="24">
        </div>

      </div>
    </div>
  </div>
</div>
