@switch (routeService.route){
  @case (routeService.routes.login){
    <app-login></app-login>
  }
  @case (routeService.routes.register){
    <app-register></app-register>
  }
  @case (routeService.routes.nanswer){
    <app-nanswer></app-nanswer>
  }
  @case (routeService.routes.nquestion){
    <app-nquestion></app-nquestion>
  }
  @case (routeService.routes.requests){
    <app-requests></app-requests>
  }
  @case (routeService.routes.request){
    <app-request routeParams="{{routeService.routeParams}}"></app-request>
  }
  @default {
    <app-login></app-login>
  }
}
