<div class="nanswer">
  <div class="nanswer__top-bar">
    <div class="nanswer__back-button-wrapper">
      <img class="nanswer__back-button" ngSrc="../../../../assets/back.svg" height="24" width="24" alt="back"/>
    </div>
    <div class="nanswer__title">
      Answeroptions
    </div>
  </div>
  <div class="nanswer__answers">

  </div>
  <div class="nanswer__add-answer-wrapper">
    <input class="nanswer__add-answer-input">
    <div class="nanswer__add-answer-button">
      <img ngSrc="assets/plus.svg" height="30" width="30">
    </div>
  </div>
  <div class="nanswer__bottom">
    <div class="nanswer__weiter-button">
      weiter
    </div>
  </div>
</div>
